.lessons {
  .common-page-top{
    div{
      margin-left: 0;
    }
  }

  .table-common-trhead {
    background-image: url(/images/grey-background.png);
    text-align: left;
    td {
      border: none;
      color: $colorLightGreyText;
      img {
        position: relative;
        bottom: 1px;
      }
    }
  }

  td {
    font-family: $fontRobotoRegular;
    font-size: 14px;
    color: $colorDarkGreyText;
    text-align: left;
  }
  .table-common-trbottom {
    td:nth-child(2) {
      width: 180px;
    }
  }
  .button-number{
    box-shadow: 0 1px 0 0 rgba(#08283d, .45),
                0 1px 0 0 rgba(#fff, .33);
    border: 1px solid #caced8;
  }
}