<div class="user-page">
    <div class="row">
            <!--<div class="create-susseful" ng-show="classEditSucsessful">
                Изменения сохранены
            </div>-->
        <br>
        <div class="col-sm-5">
            <form role="form">
                <div class="form-group create-form-container">
                    <div class="header-text header-container">
                        НАЗВАНИЕ:
                    </div>
                    <input class="form-control" value="{{className}}" ng-model="className">
                </div>
                <br>
                <div class="form-group create-form-container">
                    <div class="header-text header-container">
                        КОММЕНТАРИЙ:
                    </div>
                    <input class="form-control" value="{{commentaries}}" ng-model="commentaries">
                </div>
                <div class="btns-container">
                    <div class="button-blue-login btns-margin-first" ng-click="editedClass()">Сохранить</div>
                    <div class="button-grey btns-margin-second" ui-sref="classes">Назад к списку</div>
                </div>
            </form>


        </div>
    </div>
</div>