<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socrat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body ng-controller="Main">
    <header ng-cloak>
        <div id = "debug" ng-show="debug.length">
            <span class="debugTarget" ng-class="{'debugTarget-show':debugShow}" ng-click="debugShow = !debugShow" >debug</span>
            <div class="debugBody">
                <div ng-repeat="dbg in debug" ng-show="debugShow">
                    <div class="debugTitle" ng-click="dbg.show = !dbg.show"><b>{{$index}}:{{dbg.title}}</b></div>
                    <pre class="debugData" ng-show="dbg.show">{{dbg.data | json}}</pre>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-black navbar-static-top">
            <div class="container-fluid headerclass">
                <div class="headerclass-div row">
                    <div class="headerclass-div-left col-xs-4 col-sm-4 col-md-2">
                        <div class="headerclass-div-left-top">Сократ</div>
                        <div class="headerclass-div-left-bottom">Панель управления</div>
                    </div>

                    <div class="headerclass-div-center col-xs-4 col-sm-4 col-md-3">
                        <div class="button-blue-login" ng-repeat="button in headerButtons" ui-sref="{{button.state}}">{{button.title}}</div>
                    </div>

                    <div class="headerclass-div-right col-xs-4 col-sm-4 col-md-7" style="overflow: auto">
                        <div class="headerclass-div-right-right button-red"  ng-click="logout()">Выйти</div>
                        <div class="headerclass-div-right-left">
                            <div class="button-name">
                                <div>{{user.firstName}} {{user.lastName}} {{user.patronymic}}&nbsp;</div>
                                <!--<input type="text" placeholder="Иван Петрович Сидоров">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <nav ng-cloak ng-hide="headerButtons" class="navbar navbar-blue navbar-static-top">
        <div class="container-fluid">
            <div class="row">
                <div class="div-left">



                    <nav class="navbar navbar-default header-navbar">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse fix-header-socrat" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="users">Пользователи</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="users">Пользователи</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="users">Пользователи</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small " ui-sref="users">Пользователи</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="offices">Кабинеты</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="offices">Кабинеты</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="offices">Кабинеты</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="offices">Кабинеты</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="classes">Классы</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="classes">Классы</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="classes">Классы</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="classes">Классы</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="lessons">Предметы</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="lessons">Предметы</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="lessons">Предметы</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="lessons">Предметы</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="subjects">Уроки</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="subjects">Уроки</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="subjects">Уроки</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="subjects">Уроки</div></li>

                                    <li class="li-big visible-lg-block"><div class="button-blue-header" ui-sref="records">Записи</div></li>
                                    <li class="li-big visible-md-block"><div class="button-blue-header" ui-sref="records">Записи</div></li>
                                    <li class="li-big visible-sm-block"><div class="button-blue-header" ui-sref="records">Записи</div></li>
                                    <li class="li-small visible-xs-block"><div class="button-blue-header-small" ui-sref="records">Записи</div></li>

                                </ul>
                                <!--<ul class="nav navbar-nav">-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="users">Пользователи_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="offices">Кабинеты_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="classes">Классы_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="lessons">Предметы_small</div></li>-->
                                    <!--<li><div class="button-blue visible-sm-block visible-xs-block" ui-sref="subjects">Уроки_small</div></li>-->
                                    <!--<li class="button-blue-last" ><div class="button-blue button-blue-last visible-sm-block visible-xs-block" ui-sref="records">Записи_small</div></li>-->
                                <!--</ul>-->
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>



                    <!--<div class="col-xs-2">-->
                        <!--<div class="button-blue" ui-sref="users">Пользователи</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2">-->
                        <!--<div class="button-blue" ui-sref="offices">Кабинеты</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2">-->
                        <!--<div class="button-blue" ui-sref="classes">Классы</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2">-->
                        <!--<div class="button-blue" ui-sref="lessons">Предметы</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2">-->
                        <!--<div class="button-blue" ui-sref="subjects">Уроки</div>-->
                    <!--</div>-->
                    <!--<div class="col-xs-2">-->
                        <!--<div class="button-blue button-blue-last" ui-sref="records">Записи</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </nav>
    <nav ng-cloak class="navbar navbar-gray navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-gray-div">
                <div class="pull-right breadcrumbs-container">
                    <span class="breadcrumbs-piece" ng-repeat="bc in pageBreadcrumbs" ng-bind="bc.title" ui-sref="{{bc.state}}"></span>
                    <span class="breadcrumbs-piece" ng-bind="pageTitle"></span>
                </div>
                <div class="page-title" ng-bind="pageTitle"></div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="mainContainer" ui-view="">
    </div>
    <div class="modals">
        <div id="userDelete" class="modal">
            <div class="modal-dialog">
                <div class="delete-user">
                    <div class="modal-body">
                        <div class="custom-cross" data-dismiss="modal"></div>
                        <p>Подвердите удаление {{delTitle}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="delete-user-in-button-delete" data-dismiss="modal" ng-click="deleteLink()">Удалить</div>
                        <div class="delete-user-in-button-cancel" data-dismiss="modal">Отмена</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <script src="/javascripts/require.js" data-main="/javascripts/main.js"></script>
    </footer>
</body>
</html>